h1 {
    color: rgb(34, 26, 185);
}

p {
    color: hsl(180, 52%, 4%);
}

button {

    background-color: rgb(43, 0, 255);
    color: git#025157;
}

body {
    color: #6bdd65;
}

header {
    margin: 0px 0px 40px;
    padding: 0px 0px;
    font-size: 0px;
    position: fixed;
    top: 0;
    background-color: white;
    box-shadow: 0px 16px rgba(0, 0, 0, 0.5);
}

li {
    margin: 25px;
    color: #025157;
    display: inline;
}

.header > * {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;
    font-family: sans-serif;
}

.logo {
    width: 15%;
}

.logo>img {
    width: 50%;
}

.navbar {
    width: 70%;
    text-align: center;
    font-weight: 500;

}

.action {

    width: 15%;

}

.action>button {
    padding: 14px 12px;
    color: white;
    background: #67b54b;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    margin-left: 10px;

}

.main {
    text-align: center;
    margin: 140px;
}

.container {
    display: flex;
    gap: 12px;
}

.publish {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.tituloDos {
    color: #025157;

}

.parrafoDos {
    color: #343434;
}

.contenedorVideo{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.contenedorVideo img{
 height: 50px;
    margin: 15px;
    

}

p{
    color: yellow;
}
